<!doctype html>
{% extends "basic_app/base.html"%}
  {% block body_block %}
  {% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>sign up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{%static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{%static 'css/animate.css' %}">
    <link rel="stylesheet" href="{%static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-5">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">home</a></li>
                                        <li><a href="resturantList.html">Restaurant list</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a class="active" href="login.html">Login</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                             <!-- <div class="logo-img">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>  -->
                        </div>
                        <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                            <div class="book_room">
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="https://www.instagram.com/nikesh_dahal/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/Nikeshd12078785">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/nikesh.dahal.754">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.google.com/">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-xl-block">
                                    <a class="#" href="tel:+977 9814037042">+977 9814037042</a>
                                </div>
                            </div>
                        </div>
                       <!--  <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
<body>
   <div class="signupbox">
   	
    <h1>Signup For Free!!</h1></marquee>
<form method="POST">

	<p>username</p><br>
     {{form.username}}



    <p>Password</p><br>

    {{form.pwd}}


	<br><br><input type="submit" name=""value="Signup"><br>


	
	<a href="{% url 'basic_app:login' %}">Already have account?</a>
</form>


   </div>
</body>
</head>
</html>
{% endblock %}